<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} - Jonathan Mendoza</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bundle.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#d4faf5">

    <meta property="og:title" content="{{ title }} - Jonathan Mendoza">
    <meta property="og:type" content="{% if layout == 'post.html' %}article{% else %}website{% endif %}">
    <meta property="og:url" content="https://jonmendoza.com{{ page.url }}">
    <meta property="og:image" content="https://jonmendoza.com/android-chrome-512x512.png">
    <meta property="og:description" content="{{ description | default: 'Jonathan Mendoza\'s personal site and blog' }}">
    <meta property="og:site_name" content="Jonathan Mendoza">
    <meta property="og:locale" content="en_US">
  </head>
  <body>
    {{ content }}
  </body>
</html>
